@import 'bootstrap/mixins.scss';
@import 'bootstrap/bootstrap.scss';

@font-face {
	font-family: "Agenda";
	font-style: normal;
	font-weight: normal;
	src: url("../fonts/AgendaMedium.ttf") format('truetype') ;
}

body {
  background: url(../images/background.png) no-repeat center top;
  background-size: 100% 447px ;
  font-family: Tahoma ;
}

header {
	margin-top: 0 ;
  font-family: Agenda ;

  nav {
		padding: 0 70/1170*100% 0 150/1170*100% !important ;
    .navbar-brand {
      font-size: 26pt ;
    }
    .nav-link {
			font-size: 19px ;
		}
		li {
			margin-left: 1px !important ;
		}
  }

  #header-title {
    h4 {
      font-size: 20pt ;
    }
    p {
      font-size: 11pt ;
    }
		::placeholder {
			color: #cecece ;
		}
  }
}

#main-content {
  margin-top: 90px ;
  padding: 0 150/1170*100% ;

	#technology {
		.title-technology {
			font-size: 10pt ;
			color: #9f9f9f ;
		}
		.hourly-price {
			font-size: 12pt ;
			color: #515151 ;
		}
		.btn-technology {
			font-family: Agenda ;
			font-size: 10pt ;
		}
		.see-more {
			height: 40px ;
			font-size: 12pt ;
			color: #959595 ;
			@include gradient-y(#f4f4f5, #fdfdfd, 0%, 100%) ;
		}
	}

	#empower {
		margin-top: 100px ;

		h5 {
			font-size: 15pt ;
		}
		p {
			font-size: 10pt ;
		}
		#empower-step {
			p {
				line-height: 12pt ;
			}
		}
		#empower-content {
			background-color: #f2f2f2 ;
		}
	}
}

#company-detail {
	padding: 0 150/1170*100% ;
	width: 100% ;
	height: 160px ;
	font-size: 12pt ;
	color: #959595 ;
	background-image: linear-gradient(#003da5, #0e4bb3, #003da5);
}

#support-content {
	padding: 0 100/1170*100% 0 150/1170*100% ;
	width: 100% ;
	div.row {
		width: 100% ;
	}
	h6 {
		font-size: 12pt ;
	}
	a {
		font-size: 8pt ;
		color: #003da5 ;
	}
	.reason-detail {
		height: 100px ;
		font-size: 8pt ;
		color: #8e8e8e ;
	}
}

footer {
	padding-left: 140/1170*100% !important ;
  font-family: Agenda ;
	height: 140px ;
	background-color: #1b2f34 ;

  nav {
    .navbar-brand {
      font-size: 26pt ;
    }
    .nav-link {
      font-size: 14pt ;
    }
  }
}
