@import 'bootstrap/mixins.scss';
@import 'bootstrap/bootstrap.scss';

body {
  background: url(../images/background.png) no-repeat center top;
	background-size: 100% 447px ;
	width: 100% ;
  font-family: Tahoma ;
}

header {
	margin-top: 10px ;
  font-family: 'Tahoma' ;

  nav {
		padding: 0 calc(70/1170*100%) 0 calc(155/1170*100%) !important ;
  }

  #header-title {
    h4 {
      font-size: 26px ;
    }
    p {
      font-size: 14px ;
    }
		::placeholder {
			color: #cecece ;
		}
  }
}

.navbar-brand {
	font-size: 33px ;
}
a {
	font-size: 16px ;
}

#main-content {
  margin-top: 80px ;
  padding: 0 calc(151/1170*100%) ;

	#technology {
		.title-technology {
			height: 18px ;
			font-size: 14px ;
			color: #9f9f9f ;
		}
		.hourly-price {
			margin: 0 -22px ;
			font-size: 16px ;
			color: #515151 ;
		}
		.btn-technology {
			font-family: 'agendamedium' ;
			font-size: 12px ;
		}
		.see-more {
			height: 40px ;
			color: #959595 ;
			@include gradient-y(#f4f4f5, #fdfdfd, 0%, 100%) ;
			button {
				font-size: 18px ;
			}
		}
	}

	#empower {
		margin-top: 95px ;

		h5 {
			font-size: 20px ;
		}
		p {
			font-size: 14px ;
		}
		#empower-content {
			padding-right: calc(170/1170*100%) ;

			#empower-step {
				p {
					font-size: 12px ;
					line-height: 16px ;
				}
			}
		}
	}
}

#company-detail {
	padding: 0 calc(150/1170*100%) ;
	width: 100% ;
	height: 160px ;
	color: #959595 ;
	background-image: linear-gradient(#003da5, #0e4bb3, #003da5);
	h3 {
		font-size: 26px ;
	}
	p {
		font-size: 14px ;
	}
}

#support-content {
	padding: 0 calc(100/1170*100%) 0 calc(150/1170*100%) ;
	width: 100% ;
	div.row {
		width: 100% ;
	}
	h5 {
		font-size: 20px ;
	}
	h6 {
		font-size: 14px ;
	}
	a {
		font-size: 11px ;
		color: #003da5 ;
	}
	p {
		font-size: 11px ;
		line-height: 13px ;
		color: #8e8e8e ;
		margin-bottom: 0 ;
	}
}

footer {
	padding-left: 140/1170*100% !important ;
  font-family: 'Tahoma' ;
	height: auto ;
	background-color: #1b2f34 ;

  nav {
		.navbar-nav {
			width: 79% !important ;
		}
	}
}

.blue-color {
	background-color: #003da5;
}

.modal-dialog {
	max-width: 370px ;
}